@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: rgb(78, 72, 72);
  background-color: #e29b54;
  overflow-x: hidden;
}

section {
  position: relative;
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}
